@import "../../assets/common-styles/colors";
@import "../../assets/common-styles/z-index";

.map {
  &__leaflet-container {
    height: calc(100vh - 40px);
    width: 100vw;
  }

  &__marker-popup {
    color: $color-grey;
    &-heading {
      margin-bottom: 10px;
    }
  }

  &__masjid-name {
    color: $color-black;
    font-weight: bold;
  }

  &__prayer-time {
    color: $color-black;
  }
}
